<ul xmlns:th="http://www.thymeleaf.org" class="site-nav">
  <li><a th:href="@{/clientForm}">Клиент</a></li>
  |&nbsp;
  <li><a th:href="@{/banks.html}">Банки</a></li>
  |&nbsp;
  <li><a th:href="@{/clients.html}">Клиенты</a></li>
  |&nbsp;
  <li><a th:href="@{/credits.html}">Кредиты</a></li>
</ul>