<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- <link th:href="@{/css/styles.css}" rel="stylesheet" /> -->
    <meta charset="UTF-8">
    <title>Loan accounting and calculation system</title>
    <link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}" />
</head>
<body>
    <h1>Система учета кредитов</h1>
    <th:block th:include="/_menuA"></th:block>
    <br/>
</body>
</html>