<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payment Schedules</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css" th:href="@{/css/styles.css}" />
</head>
<body>
    <h1>Система учета кредитов</h1>
    <h2>График платежей</h2>
    <br/>
    <div th:if="${payments != null}">
        <table border="1">
        <thead>
        <tr>
            <th width="40" align="center">NN</th>
            <th width="45">Сумма</th>
            <th width="45">Начисленные %</th>
            <th width="40">Платеж (сумма+%)</th>
            <th width="40">Остаток кредита</th>
        </tr>
        </thead>
        <tbody>
            <tr th:each="payment,iterStat : ${payments.payments}">
                <td th:text="${iterStat.count}">NN NN</td>
                <td th:text="${payment.arrayMoney}">Платеж</td>
                <td th:text="${payment.persent}">Проценты Проценты</td>
                <td th:text="${payment.paymentAmount}">Платеж сумма и проценты</td>
                <td th:text="${payment.principalBalance}">Остаток кредита</td>
            </tr>
        </tbody>
    </table>
    <br/>
        <form method="POST" action="#" th:action="@{/downloadExcel}" th:object="${payments}">
            <button type="submit" class="btn btn-secondary">Export to Excel</button>
        </form>
    </div>

</body>
</html>